@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 100px;

}

.header-anuncio {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #D20202;
    margin-top: -12px;
    margin-right: 10px;
    margin-left: 5px;
}

.titulo {
    font-size: 11px;
    margin-top: 15px;
    margin-right: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#g1 {
    color: #ac0404;
    margin-right: 5px;
}

#globoesporte {
    color: #008000;
    margin-right: 5px;
}

#gshow {
    color: #ff6600;
    margin-right: 5px;
}

#videos {
    color: #0000FF;
}

.header-economia {
    background-color: #D20202;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 999;
}


.header-economia .texto {
    font-size: 24px;
    font-weight: lighter;
    color: #fff;
    margin-top: 15px;
}